---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Research",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Research</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			My research explores creative, community-oriented approaches to resist algorithmic bias 
			in Large Language Models. I will soon publish a participatory fine-tuning dataset.
		</p>
	</div>
</PageLayout>
