---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Writing",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Writing</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			My creative work explores the relationship between humanity, technology and nature.
		</p>
	</div>
</PageLayout>
